{% extends 'flatpages/default.html' %}

<!-- Название у нас будет posts -->
{% block title %}
posts
{% endblock title %}

{% block content %}
<form method="GET">
    {{ filter.form }} <!-- Форму от фильтров за нас сделает Django. А вот кнопку, увы придётся делать самому -->
    <input type="submit" value="Найти">
</form>
    {% if posts %}
        <table align="center" cellpadding="4">

            {% for posts in filter.qs %}

            <tr>
                <td width="300"><b>{{ posts.title }}</b></td>
                <td width="180">{{ posts.creation_time|date:"d M Y" }}</td>
                <td width="250">{{ posts.text|truncatechars:20 }}</td>
            </tr>
            {% endfor %}

        </table>
    {% else %}
            <h3>Публикаций нет!</h3>
    {% endif %}
{% endblock content %}